<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trace.mapper.TraceProductsMapper">

    <resultMap type="TraceProducts" id="TraceProductsResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="productId"    column="product_id"    />
        <result property="name"    column="name"    />
        <result property="dataJson" column="data_json"/>
        <result property="node"    column="node"    />
        <result property="structureId"    column="structure_id"    />
        <result property="structureName"    column="structure_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTraceProductsVo">
        select id, code, name, product_id, data_json, node, structure_id, structure_name, create_by, create_time, update_by, update_time from trace_products
    </sql>

    <select id="selectTraceProductsList" parameterType="TraceProducts" resultMap="TraceProductsResult">
        <include refid="selectTraceProductsVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="node != null  and node != ''"> and node = #{node}</if>
            <if test="productId != null  and productId != ''"> and product_id = #{productId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="structureId != null "> and structure_id = #{structureId}</if>
        </where>
    </select>
    
    <select id="selectTraceProductsById" parameterType="Long" resultMap="TraceProductsResult">
        <include refid="selectTraceProductsVo"/>
        where id = #{id}
    </select>

    <insert id="insertTraceProducts" parameterType="TraceProducts">
        insert into trace_products
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="productId != null">product_id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="dataJson != null">data_json,</if>
            <if test="node != null">node,</if>
            <if test="structureId != null">structure_id,</if>
            <if test="structureName != null">structure_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="productId != null">#{productId},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="dataJson != null">#{dataJson},</if>
            <if test="node != null">#{node},</if>
            <if test="structureId != null">#{structureId},</if>
            <if test="structureName != null">#{structureName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTraceProducts" parameterType="TraceProducts">
        update trace_products
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="dataJson != null">data_json = #{dataJson},</if>
            <if test="node != null">node = #{node},</if>
            <if test="structureId != null">structure_id = #{structureId},</if>
            <if test="structureName != null">structure_name = #{structureName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTraceProductsById" parameterType="Long">
        delete from trace_products where id = #{id}
    </delete>

    <delete id="deleteTraceProductsByIds" parameterType="String">
        delete from trace_products where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>